.cart:hover {
    background-color: #F5922C;
  }
  .banr{
    background-color: #FCECE4;
  }
  .hder{
    color: #FFECE7;
  }
  .sectn{
    background-color: #F5922C;
  }
  .sign_out{
    color: #F5922C;
  }