.fetured{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    font-weight:1200px;
    margin-top: 10%;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #101820;
    margin-left: 80px;
}